<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CashInBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="Data Source=DESKTOP-3QQEO96\\SQLEXPRESS;Initial Catalog=Member;Persist Security Info=True;User ID=sa;Password=ernane92" providerName="System.Data.SqlClient" />
    <add name="CashInBox.Properties.Settings.MemberConnectionString" connectionString="Data Source=DESKTOP-3QQEO96\\SQLEXPRESS;Initial Catalog=Member;Persist Security Info=True;User ID=member-user;Password=#Matheus190504" providerName="System.Data.SqlClient" />
    <add name="CashInBox.Properties.Settings.MemberConnectionString1" connectionString="Data Source=DESKTOP-3QQEO96\SQLEXPRESS;Initial Catalog=Member;Persist Security Info=True;User ID=member-user;Password=#Matheus190504" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><applicationSettings>
    <CashInBox.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </CashInBox.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
